// src/styles/main.scss
// @import 'reset'; // 导入之前创建的重置样式
// @import 'base';  // 基础样式

// 全局工具类
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $base-spacing;
}

.text-center {
  text-align: center;
}

#app {
  height: 100vh;
  width: 100vw;
  background-color: beige;
}